.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.Box1{
    width: 25%;
    margin: auto;
    padding-left: 10%;
    }
    .Box2{
        width: 40%;
        margin: auto;
        padding-left: 8%;
        padding-top: 7%;
        padding-right: 8%;
        padding-bottom: 7%;
        }
        .Box2_1{
            width: 40%;
            margin: auto;
            padding: 2%;
        }
        .Box2_1 img{
            width: 100%;
        }
        .Box2_2{
            width: 40%;
            margin: auto;
            padding: 2%;
        }
        .Box2_2 img{
            width: 100%;
        }
    .h4{
        padding: 0%;
        margin: 0%;
    }
        